#becauce the original .env file is .git.ignore because its confidential,this is an example of what it should look like. 
#You can copy this file to .env and edit the values as needed.

APP_NAME="mini-RAG"
APP_VERSION="0.1"
OPENAI_API_KEY=""

FILE_ALLOWED_TYPES=["text/plain", "application/pdf"]  #more secure way than saying .pdf or .txt 
FILE_MAX_SIZE=10
FILE_DEFAULT_CHUNK_SIZE=512000 #512KB

#=============== LLM SETTINGS ===============
GENERATION_BACKEND = "OPENAI" #CASE MUCH MATCH WHAT IS IN THE PROVIDER FOLDER
EMBEDDING_BACKEND = "COHERE"

OPENAI_API_KEY=""
OPENAI_API_URL=
COHERE_API_KEY=""

GENERATION_MODEL_ID="gpt-3.5-turbo-0125"
EMBEDDING_MODEL_ID="embed-multilingual-light-v3.0"
EMBEDDING_MODEL_SIZE=384

default_input_max_characters=1024
default_output_max_characters=200
default_generation_temperature=0.1

