#becauce the original .env file is .git.ignore because its confidential,this is an example of what it should look like. 
#You can copy this file to .env and edit the values as needed.

APP_NAME="mini-RAG"
APP_VERSION="0.1"
OPENAI_API_KEY=""

FILE_ALLOWED_TYPES=["text/plain", "application/pdf"]  #more secure way than saying .pdf or .txt 
FILE_MAX_SIZE=10
FILE_DEFAULT_CHUNK_SIZE=512000 #512KB

